<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title projects-section-header">Projects</div>
        <hr>
            
     <div class="row">    
           <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" data-aos="fade-up">
    <!--  <img class="card-img-top" src="assets/images/p11.PNG" alt="Card image" style="width:100%"> -->  
        <div class="card-body">
          <div class="card-title">Nimcet Quiz Android App</div>
          <hr>
          <div class="card-text"><b>Technology :</b> Java,Android Studio,firebase</div>
          <div class="card-text"><b>Intro :</b> This is a quiz app for the student those are preparing for nimcent exam.</div>
         
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="card-title">E-Medicine</div>
          <hr>
          <div class="card-text"><b>Technology :</b>Angular,SpringBoot,SQL</div>
          <div class="card-text"><b>Intro :</b> online medicine delivery web application using Angular and SpringBoot(REST API)</div>   
          </div>
    </div>
    </div>
      </div>
    
      
    
      
    
    
     
    
    
    
    </div>
    </div>
  </div>